.header {
  box-sizing: border-box;
  width: calc(100% - (200px * 2));
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 27px;
}

@media screen and (max-width: 880px) {
  .header {
    width: 100%;
  }
}
