.auth-form__input {
  box-sizing: border-box;
  width: 358px;
  padding: 13px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #cccccc;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.auth-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #cccccc;
}

.auth-form__input:focus {
  outline: none;
}

@media screen and (max-width: 550px) {
  .auth-form__input {
    width: 260px;
  }
}
