.profile__content {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  .profile__content {
    flex-wrap: wrap;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 800px) {
  .profile__content {
    flex-direction: column;
    justify-content: center;
  }
}
