.profile__edit-button {
  width: 24px;
  height: 24px;
  align-self: end;
  background-color: transparent;
  background-image: url(../../../images/edit-button.svg);
  background-position: center;
  border: 1px solid #ffff;
  padding: 0;
  margin-bottom: 8px;
  transition: opacity 0.25s linear;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1050px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-bottom: 6px;
  }
}
